@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Playfair+Display:wght@800&display=swap");

$f1: "Playfair Display", serif;
$f2: "Lato", sans-serif;

$c1: #fff8e8;
$c2: #fcd581;
$c3: #d52941;
$c4: #990d35;
$c5: #0b0033;
