@import url("https://fonts.googleapis.com/css?family=Lato:700&display=swap");
@font-face {
  font-family: "Gordita";
  src: url("https://www.omzeton.com/fonts/gordita-bold-webfont.woff") format("woff"), url("https://www.omzeton.com/fonts/gordita-bold-webfont.otf") format("opentype");
}

$ff1: "Lato", sans-serif;
$ff2: "Gordita";
$c1: #f9f5f1;
