@import "resets";
@import "./ds";
@import "./sections";

::selection {
    background-color: $black;
    color: $white;
}
::-webkit-scrollbar {
    width: 0;
}

.morph {
    position: fixed;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: -10;
    opacity: 1;
    .hidden {
        visibility: hidden;
    }
}

#progressBar {
    top: 0;
    right: 0;
    width: 5px;
    height: 0%;
    position: fixed;
    background: $black;
    transition: height 0.5s ease-out;
    z-index: 999;
}
