@import "reset";

@import url("https://fonts.googleapis.com/css?family=Lato:700&display=swap");
@font-face {
    font-family: "Gordita";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("@/fonts/gordita.woff") format("woff");
}

::selection {
    background-color: #282828;
    color: #f9f5f1;
}
::-webkit-scrollbar {
    width: 0;
}

.active-line {
    height: 2px;
    animation: underline 1s ease-in-out forwards;
}
@keyframes underline {
    from {
        width: 0;
    }
    to {
        width: 100px;
    }
}
@keyframes logoUnderline {
    from {
        width: 0;
    }
    to {
        width: calc(100vw - 197px - 96px);
    }
}

.contact__icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    &:nth-child(1) {
        background-image: url("../images/github.svg");
    }
    &:nth-child(2) {
        background-image: url("../images/linkedin.svg");
    }
    &:nth-child(3) {
        background-image: url("../images/twitter.svg");
    }
    &:nth-child(4) {
        background-image: url("../images/facebook.svg");
    }
}

.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: "";
    /* show by default */
}

.link--leda {
    overflow: hidden;
}

.link--leda::before {
    height: 3px;
    top: calc(100% - 5px);
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.link--leda:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.link--leda::after {
    content: attr(data-text);
    height: 100%;
    top: 0;
    background: none;
    transform-origin: 100% 50%;
    transform: translate3d(150%, 0, 0);
    transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.link--leda:hover::after {
    transform: translate3d(0, 0, 0);
}

.link--leda span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
}

.link--leda:hover span {
    transform: translate3d(-150%, 0, 0);
}

.menu-header {
    $columnWidth: 150px;
    grid-template-columns: $columnWidth 1fr $columnWidth $columnWidth $columnWidth;
}
