@import "resets";
@import "./sections";

@import url("https://fonts.googleapis.com/css?family=Lato:700&display=swap");
@font-face {
    font-family: "Gordita";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("@/fonts/gordita.woff") format("woff");
}

::selection {
    background-color: #282828;
    color: #f9f5f1;
}
::-webkit-scrollbar {
    width: 0;
}

.active-line {
    height: 1px;
    animation: underline 1s ease-in-out forwards;
}
@keyframes underline {
    from {
        width: 0;
    }
    to {
        width: 100px;
    }
}
@keyframes logoUnderline {
    from {
        width: 0;
    }
    to {
        width: calc(100vw - 197px - 96px);
    }
}

.morph-wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: -10;
    opacity: 1;
}

.morph {
    position: relative;
    height: 100%;
    fill: #f9f5f1;
    flex: none;
}
