$white: #f9f5f1;
$black: #282828;

$color-names: "white", "black";
$colors: $white, $black;

@for $i from 1 through length($color-names) {
    .text-#{nth($color-names, $i)} {
        color: nth($colors, $i);
    }
    .bg-#{nth($color-names, $i)} {
        background-color: nth($colors, $i);
    }
}
