@import url("https://fonts.googleapis.com/css?family=Lato:700&display=swap");
@font-face {
    font-family: "Gordita";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("../assets/fonts/gordita.woff") format("woff");
}

$font-sizes: 1, 2, 4, 8, 12, 16, 18, 24, 32, 40, 48, 64, 80, 96, 112, 128;
$font-types: "bold", "light";

@for $i from 1 through length($font-types) {
    @for $j from 1 through length($font-sizes) {
        .#{nth($font-types, $i)}-#{nth($font-sizes, $j)} {
            font-size: nth($font-sizes, $j) + px;
            @if $i == 1 {
                font-family: "Gordita", Arial, sans-serif;
                letter-spacing: -6px;
            } @else {
                font-family: "Lato", sans-serif;
                letter-spacing: -0.5px;
            }
        }
    }
}
