@import "./ds/index.scss";

h2,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

::selection {
    background-color: $black;
    color: $white;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    margin: 0;
    padding: 0;
}

.splash {
    height: 100vh;
    position: relative;
    &__text-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: grid;
        grid-template-rows: 1fr 1fr;
        @include desktop-min {
            grid-template-rows: 150px 1fr;
        }
    }
    &__header {
        font-size: 9.9vw;
        letter-spacing: -0.8vw;
        @include desktop-min {
            letter-spacing: -7px;
            margin-left: -7px;
            font-size: 96px;
        }
    }
    &__subtext {
        line-height: 3.7vw;
        font-size: 2.5vw;
        @include desktop-min {
            width: 400px;
            font-size: 12px;
            line-height: 16px;
        }
    }
    &__span {
        display: block;
    }
    &__underline {
        width: 0px;
        height: 1px;
        background-color: $black;
    }
    &__underline--active {
        animation: underline 1s ease-in-out forwards;
    }
    &__menu {
        position: absolute;
        top: 32px;
        left: 32px;
        box-sizing: border-box;
        z-index: 9;
        display: grid;
        width: calc(100% - 64px);
        grid-template-columns: repeat(3, 1fr);
        @include desktop-min {
            top: 64px;
            left: 64px;
            width: calc(100% - 128px);
            grid-template-columns: 120px 1fr 150px 150px;
        }
        &-separator {
            width: 100%;
            height: 1px;
            background-color: $black;
        }
        &-tab {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &--separator {
                display: none;
                @include desktop-min {
                    display: flex;
                }
            }
            &--logo {
                justify-content: start;
            }
            &--active p {
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 0;
                    background-color: $black;
                    width: 100%;
                    height: 1px;
                }
            }
        }
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: end;
    }
    &__logo {
        line-height: 0;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: calc(100% + 32px);
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            background-color: $black;
            height: 1px;
        }
    }
    &__logo--active:after {
        animation: logoUnderline 1.2s ease-in-out forwards;
    }
}
@keyframes underline {
    from {
        width: 0;
    }
    to {
        width: 100px;
    }
}
@keyframes logoUnderline {
    from {
        width: 0;
    }
    to {
        width: calc(100vw - 197px - 96px);
        // 197px = width of the paragraph
        // 64px - margin
    }
}

.experience {
    display: none;
}

.projects {
    display: none;
    &__list {
        list-style: none;
        display: grid;
        grid-template-rows: repeat(5, 100px);
        row-gap: 32px;
    }
    &__item {
        display: grid;
        grid-template-columns: 350px 1fr;
        border: 1px solid $black;
        text-decoration: none;
        &-title {
            display: flex;
            align-items: center;
        }
        &-description {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
}

.contact {
    display: none;
    &__icon-row {
        display: grid;
        grid-template-columns: repeat(4, 50px);
        column-gap: 10px;
    }
    &__icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__mail {
        cursor: pointer;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.morph {
    position: fixed;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: -10;
    opacity: 1;
    .hidden {
        visibility: hidden;
    }
}

#progressBar {
    top: 0;
    right: 0;
    width: 5px;
    height: 0%;
    position: fixed;
    background: $black;
    transition: height 0.5s ease-out;
    z-index: 999;
}
