@import "./ds/index.scss";
@import "resets";

::selection {
    background-color: $black;
    color: $white;
}
::-webkit-scrollbar {
    width: 0;
}

.splash {
    height: 100vh;
    position: relative;

    // Menu
    &__menu {
        position: absolute;
        top: 32px;
        left: 32px;
        z-index: 9;
        @include desktop-min {
            top: 64px;
            left: 64px;
        }
        &-tab {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: start;
        }
    }
    // End menu

    &__text-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: grid;
        grid-template-rows: 1fr 1fr;
        @include desktop-min {
            grid-template-rows: 150px 1fr;
        }
    }
    &__header {
        margin-left: -7px;
    }
    &__line {
        width: 0px;
        height: 1px;
        background-color: $black;
    }
    &__line--active {
        animation: underline 1s ease-in-out forwards;
    }
    @keyframes underline {
        from {
            width: 0;
        }
        to {
            width: 100px;
        }
    }
    @keyframes logoUnderline {
        from {
            width: 0;
        }
        to {
            width: calc(100vw - 197px - 96px);
        }
    }
}

.projects {
    &__list {
        list-style: none;
        display: grid;
        grid-template-rows: repeat(5, 100px);
        row-gap: 32px;
    }
    &__item {
        display: grid;
        grid-template-columns: 350px 1fr;
        border: 1px solid $black;
        text-decoration: none;
        &-title {
            display: flex;
            align-items: center;
        }
        &-description {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
}

.contact {
    &__icon-row {
        display: grid;
        grid-template-columns: repeat(4, 50px);
        column-gap: 10px;
    }
    &__icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__mail {
        cursor: pointer;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.morph {
    position: fixed;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: -10;
    opacity: 1;
    .hidden {
        visibility: hidden;
    }
}

#progressBar {
    top: 0;
    right: 0;
    width: 5px;
    height: 0%;
    position: fixed;
    background: $black;
    transition: height 0.5s ease-out;
    z-index: 999;
}
