.contact {
    &__icon-row {
        display: grid;
        grid-template-columns: repeat(4, 50px);
        column-gap: 10px;
    }
    &__icon {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
        &:nth-child(1) {
            background-image: url("../images/github.svg");
        }
        &:nth-child(2) {
            background-image: url("../images/linkedin.svg");
        }
        &:nth-child(3) {
            background-image: url("../images/twitter.svg");
        }
        &:nth-child(4) {
            background-image: url("../images/facebook.svg");
        }
    }
    &__mail {
        cursor: pointer;
    }
}
