.projects {
    &__snap {
        display: grid;
        grid-template-columns: 200px 1fr;
        position: relative;
        column-gap: 20px;
        &:before {
            content: "";
            position: absolute;
            left: 145px;
            height: calc(100% - 40px);
            width: 2px;
            top: 30px;
            @apply bg-black;
            z-index: 10;
        }
    }

    &__timeline {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    &__time-stamp {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            @apply bg-black;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            left: -25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__snap-content {
        box-sizing: border-box;
    }
    &__snap-content-wrapper {
        display: grid;
        grid-template-columns: 40% 60%;
    }
    &__img-container {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px;
        cursor: pointer;
        filter: grayscale(1) brightness(0.7);
        transition: filter 0.2s linear;
        &--tylko {
            background-image: url("@/images/1.png");
        }
        &--notnik {
            background-image: url("@/images/2.png");
        }
        &--amarynix {
            background-image: url("@/images/5.png");
        }
        &:hover {
            filter: grayscale(0) brightness(1);
        }
    }
}
