.splash {
    height: 100vh;
    position: relative;

    // Menu
    &__menu {
        position: absolute;
        top: 32px;
        left: 32px;
        z-index: 9;
        @include desktop-min {
            top: 64px;
            left: 64px;
        }
        &-tab {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: start;
        }
    }
    // End menu

    &__text-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: grid;
        grid-template-rows: 1fr 1fr;
        @include desktop-min {
            grid-template-rows: 150px 1fr;
        }
    }
    &__header {
        margin-left: -7px;
    }
    &__line {
        width: 0px;
        height: 1px;
        background-color: $black;
    }
    &__line--active {
        animation: underline 1s ease-in-out forwards;
    }
    @keyframes underline {
        from {
            width: 0;
        }
        to {
            width: 100px;
        }
    }
    @keyframes logoUnderline {
        from {
            width: 0;
        }
        to {
            width: calc(100vw - 197px - 96px);
        }
    }
}
