body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 64px;
    left: 64px;
    box-sizing: border-box;
    &__logo {
        letter-spacing: -1.5px;
        line-height: 0;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: calc(100% + 32px);
            top: 50%;
            transform: translateY(-50%);

            width: calc(100vw - 197px - 64px);
            // 197px = width of the paragraph
            // 64px - margin

            background-color: $black;
            height: 1px;
        }
    }
}

main {
    .splash {
        height: 100vh;
        display: flex;
        align-items: center;
        &__text-wrapper {
            display: grid;
            grid-template-rows: 220px 1fr;
        }
        &__subtext {
            line-height: 28px;
            width: 400px;
        }
    }
}
